.analysisGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 69px 69px 69px;
}

.col1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.col2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.col3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.row1 {
  grid-row-start: 1;
  grid-row-end: 2;
}

.row2 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.row3 {
  grid-row-start: 3;
  grid-row-end: 4;
}
