h1 {
  line-height: 0px;
}

.Umeter {
  font-size: 50px;
  font-weight: lighter;
  text-decoration: none;
}

.Usubtitle {
  font-size: 24px;
  font-weight: lighter;
  text-decoration: none;
}

.Ustats {
  font-size: 42px;
  font-weight: lighter;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
}

.UflexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
